@import "tailwindcss";

@theme {
	/* Colores */
	--color-primary: #09f;
	--color-primary-light: #ceecff;
	--color-primary-dark: rgb(0, 22, 83);
	--color-luis-lol: #f8dbff;

	/* Breakpoints */
	--breakpoint-xs: 350px;
}

.social-button {
	@apply p-2 size-10 xs:size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform;
}
